<template>
  <v-container bg grid-list-md style="padding-top: 30px;">
    <v-snackbar v-model="success">Deal ajouté
      <template v-slot:action="{attrs}">
        <v-btn v-bind="attrs" color="pink" text @click="success = false">Fermer</v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="error">Erreur : Deal non ajouté
      <template v-slot:action="{attrs}">
        <v-btn v-bind="attrs" color="pink" text @click="error = false">Fermer</v-btn>
      </template>
    </v-snackbar>
    <div cols="12" row wrap>
      <v-card dark>
        <v-card-title>Ajout d'un deal</v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row style="padding-left: 10px;padding-right: 10px">
            <v-col cols="12">
              <v-text-field v-model="deal.title" :rules="rules" dense label="Titre"
                            required></v-text-field>
              <v-textarea v-model="deal.description" :rules="rules" auto-grow dense
                          label="Description"
                          required rows="2"></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model.number="deal.oldPrice" :rules="numberRules" dense
                            label="Ancien prix"
                            prefix="€" required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model.number="deal.newPrice" :rules="numberRules" dense
                            label="Nouveau prix"
                            prefix="€" required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="deal.promoCode" :rules="rules" dense label="Code promo"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="deal.shopName" :rules="rules" dense label="Enseigne"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="deal.shopLink" :rules="rules" dense label="Lien de l'article"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="deal.imageUrl" :rules="rules" dense
                            label="Lien de l'image de deal" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-btn :disabled="!valid" class="mr-4" color="success" @click="validate">Valider
              </v-btn>
              <v-btn class="mr-4" color="error" @click="reset">Vider le formulaire</v-btn>
              <v-btn :to="'/'" class="mr-4" color="primary" style="float: right;">Retour</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import store from '../store';

export default {
  name: 'addDealItem',
  data() { // Stocke les différentes variables utilisées par ce composant.
    return {
      valid: false,
      success: false,
      error: false,
      deal: {
        title: '',
        description: '',
        oldPrice: null,
        newPrice: null,
        shopName: '',
        shopLink: '',
        promoCode: '',
        imageLink: '',
        creator: store.state.identifier
      },
      rules: [
        v => !!v || 'Champ vide'
      ],
      numberRules: [
        v => !!v || 'Champ vide',
        v => v >= 0.0 || 'Doit être un nombre supérieur ou égale à 0'
      ]
    }
  },
  methods: {
    validate() {
      this.post();
    },
    reset() {
      this.$refs.form.reset()
    },
    post() {
      axios.post(process.env.VUE_APP_REST_URL + 'deal/', this.deal).then(response => response.data) // Requête GET vers l'api avec axios.
          .then((data) => { // Traitement client léger des données avant affichage
            if (data >= 0)
              this.success = true;
            else
              this.error = true;
          });
    }
  }
}
</script>