<template>
  <div>
    <div v-if="loading">
      <loading></loading>
    </div>
    <div v-if="!loading">
      <v-container bg fill-height grid-list-md text-xs-center>
        <p v-if="!dataReturned">Aucune donnée disponible.</p>
        <v-col v-for="(item, i) in deals" :key="i" align-center cols="12" row wrap>
          <v-card dark v-bind:href="'/deal/' + item.id">
            <deal :deal="item"></deal>
          </v-card>
        </v-col>
      </v-container>
    </div>
  </div>
</template>
<script>
import loading from './loading.vue';
import axios from 'axios';
import deal from './deal.vue';

export default {
  name: 'dealsItem',
  components: {
    'loading': loading,
    'deal': deal
  },
  data() { // Stocke les différentes variables utilisées par ce composant.
    return {
      deals: [], // Stocke tous les deals à afficher.
      loading: true, //Page en chargement à la création.
      dataReturned: false,
      dateOptions: {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'} // Options d'affichage de date
    }
  },
  methods: {
    getData() {
      this.loading = true;
      axios.get(process.env.VUE_APP_REST_URL + 'deal/public').then(response => response.data) // Requête GET vers l'api avec axios.
          .then(data => { // Traitement client léger des données avant affichage
            for (const element of data) {
              let currentElementDate = new Date(element.creationDate);
              element.creationDate = "Créé le " + currentElementDate.toLocaleDateString('fr-FR', this.dateOptions) + " à " + currentElementDate.toLocaleTimeString('fr-FR'); // Transformation de la date et de l'heure.
            }
            this.deals = data; // Mise à jour de la variable contenant les deals.
            this.loading = false; // Chargement terminé.
            this.dataReturned = true;
          }, () => {
            this.loading = false;
            this.dataReturned = false;
          });
    }
  },
  async created() { // Appelé juste après l'initialisation du composant automatiquement.
    this.getData();
  }
}
</script>