<template>
  <div class="d-flex flex-no-wrap">
    <v-avatar class="ma-3" size="150" tile>
      <v-img :src="deal.imageUrl"></v-img>
    </v-avatar>
    <span>
      <v-card-title class="text-h4"
                    v-bind:style="{color: deal.temperature > 0 ? (deal.temperature > 20 ? 'red' : 'white') : 'blue'}">
        <v-btn v-if="$store.state.connected" class="mx-2" color="primary" dark fab small
               @click="sendMinusOne" v-on:click.prevent><v-icon
            dark>mdi-minus</v-icon>
        </v-btn>
        {{ deal.temperature }}°
        <v-btn v-if="$store.state.connected" class="mx-2" color="error" dark fab small
               @click="sendPlusOne" v-on:click.prevent><v-icon
            dark>mdi-plus</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-subtitle class="text-h5" style="width: 30em;" v-text="deal.title"></v-card-subtitle>
      <v-card-text class="text-h6" v-text="deal.author + ' | ' + deal.shopName"></v-card-text>
    </span>
    <v-card-text class="text-right" v-text="deal.creationDate"></v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" style="position: absolute; right: 10px; bottom: 10px;"
             target="_blank" text v-bind:href="deal.shopLink" x-large v-on:click.stop>Voir
      </v-btn>
    </v-card-actions>
  </div>
</template>
<script>
import {axios} from "@/plugins/axios";
import store from '../store';

export default {
  name: 'deal',
  props: {deal: {}},
  data() { // Stocke les différentes variables utilisées par ce composant.
    return {
      temperatureDTO: {dealId: this.deal.id, userName: store.state.identifier},
      dateOptions: {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}
    }
  },
  methods: {
    sendPlusOne() {
      axios.post(process.env.VUE_APP_REST_URL + 'temperature/plus', this.temperatureDTO).then(
          () => {
            this.syncData();
          }
      )
    },
    sendMinusOne() {
      axios.post(process.env.VUE_APP_REST_URL + 'temperature/minus', this.temperatureDTO).then(
          () => {
            this.syncData();
          }
      )
    },
    syncData() {
      axios.get(process.env.VUE_APP_REST_URL + 'deal/public/' + this.deal.id + '/temperature').then(response => response.data)
          .then(data => { // Traitement client léger des données avant affichage
            this.deal.temperature = data; // Mise à jour de la variable contenant les deals.
          });
    }
  }
}
</script>