<template>
  <div>
    <div v-if="loading">
      <loading></loading>
    </div>
    <div v-if="!loading">
      <v-container bg fill-height grid-list-md text-xs-center>
        <div align-center cols="12" row style="width: 100%;" wrap>
          <v-card dark>
            <v-container>
              <v-card dark>
                <deal :deal="deal"></deal>
              </v-card>
            </v-container>
            <v-container>
              <v-list style="flex:auto; text-align: center">
                <v-list-item style="justify-content: center;"
                             v-text="'Code de promotion : ' + deal.promoCode"></v-list-item>
                <v-divider style="width: 75%; display: inline-flex"></v-divider>
                <v-list-item v-if="deal.oldPrice != 'unknown'" style="justify-content: center;"
                             v-text="deal.oldPrice + '€ > ' + deal.newPrice + '€ (' + deal.discountPercentage + '%) de remise'"></v-list-item>
                <v-list-item v-if="deal.oldPrice == 'unknown'" style="justify-content: center;"
                             v-text="deal.newPrice + '€'"></v-list-item>
                <v-divider style="width: 75%; display: inline-flex"></v-divider>
                <v-list-item style="justify-content: center;"
                             v-text="deal.description"></v-list-item>
              </v-list>
            </v-container>
          </v-card>
        </div>
      </v-container>
    </div>
  </div>
</template>
<script>
import {axios} from '@/plugins/axios'
import loading from "@/components/loading";
import deal from './deal.vue';

export default {
  name: 'dealsDetailsItem',
  components: {
    'loading': loading,
    'deal': deal
  },
  data() { // Stocke les différentes variables utilisées par ce composant.
    return {
      deal: {}, // Stocke le deal à afficher.
      loading: true, //Page en chargement à la création.
      dateOptions: {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'} // Options d'affichage de date
    }
  },
  async created() { // Charge toutes les informations nécéssaires à l'affichage détaillé du deal.
    axios.get(process.env.VUE_APP_REST_URL + 'deal/public/' + this.$route.params.id).then(response => response.data) // Requête GET vers l'api avec axios.
        .then(data => { // Traitement client léger des données avant affichage
          let currentElementDate = new Date(data.creationDate);
          data.creationDate = "Créé le " + currentElementDate.toLocaleDateString('fr-FR', this.dateOptions) + " à " + currentElementDate.toLocaleTimeString('fr-FR'); // Transformation de la date et de l'heure.
          this.deal = data; // Mise à jour de la variable contenant les deals.
          this.loading = false; // Chargement terminé.
        });
  }
}
</script>