<template>
  <div>
    <v-toolbar dark>
      <v-toolbar-title>
        <v-btn text to="/" x-large>Dealabs</v-btn>
        <span v-if="$store.state.connected">Bonjour {{ $store.state.identifier }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="!$store.state.connected" text @click="signin">Connexion</v-btn>
      <v-btn v-if="$store.state.connected" text @click="signout">Déconnexion</v-btn>
      <v-divider vertical></v-divider>
      <v-btn v-if="!$store.state.connected" style="margin-right:5em;" text to="/signup">
        Inscription
      </v-btn>
      <v-btn v-if="$store.state.connected" color="primary" to="/deal/new" x-large>Poster un nouveau
        deal
      </v-btn>
    </v-toolbar>
  </div>
</template>
<script>
import store from '../store';

export default {
  name: 'headerItem',
  methods: {
    signin() {
      store.commit('exeShowSignIn')
    },
    signout() {
      store.commit('logout')
      localStorage.removeItem('auth');
    }
  }
}
</script>
<style>
.v-btn--active::before, .v-btn:focus::before {
  opacity: 0 !important;
}
</style>