<template>
  <v-container bg grid-list-md style="padding-top: 30px;">
    <v-snackbar v-model="success">Utilisateur ajouté
      <template v-slot:action="{attrs}">
        <v-btn v-bind="attrs" color="pink" text @click="success = false">Fermer</v-btn>
      </template>
    </v-snackbar>
    <div cols="12" row wrap>
      <v-card dark>
        <v-card-title>Inscription</v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row style="padding-left: 10px;padding-right: 10px">
            <v-col cols="12">
              <v-text-field v-model="user.userName" :rules="rules" label="Pseudo"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="user.lastName" :rules="rules" label="Nom"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="user.firstName" :rules="rules" label="Prénom"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="user.password" :rules="rules" label="Mot de passe"
                            required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="user.passwordCheck" :rules="rules"
                            label="Confirmer le mot de passe"
                            required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-btn :disabled="!valid" class="mr-4" color="success" @click="validate">Valider
              </v-btn>
              <v-btn :to="'/'" class="mr-4" color="primary" style="float: right;">Retour</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'signUp',
  data() {
    return {
      valid: false,
      success: false,
      user: {
        userName: '',
        lastName: '',
        firstName: '',
        password: '',
        passwordCheck: ''
      },
      rules: [
        v => !!v || 'Champ vide'
      ]
    }
  },
  methods: {
    validate() {
      this.post();
    },
    reset() {
      this.$refs.form.reset()
    },
    post() {
      axios.post(process.env.VUE_APP_REST_URL + 'user/public', this.user).then(response => response.data)
          .then(() => {
            this.success = true;
          });
    }
  }
}
</script>