<template>
  <div class="text-center">
    <v-dialog v-model="$store.state.showSignIn" max-width="600px" min-width="360px">
      <div>
        <v-card class="px-4">
          <v-card-title>Connexion</v-card-title>
          <v-card-text>
            <v-form ref="loginForm" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field v-model="loginForm.userName" label="Identifiant"
                                required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="loginForm.password"
                                :append-icon="show?'mdi-eye':'mdi-eye-off'"
                                :type="show ? 'text' : 'password'"
                                label="Mot de passe" required
                                @click:append="show = !show"></v-text-field>
                </v-col>
                <v-col v-if="showError" cols="12">
                  <p>Attention, identifiant ou mot de passe incorect.</p>
                </v-col>
                <v-col class="d-flex" cols="6" sm="6" xsm="3">
                  <v-btn block color="error" x-large @click="cancel">Annuler</v-btn>
                </v-col>
                <v-spacer></v-spacer>
                <v-col align-end class="d-flex" cols="12" sm="6" xsm="12">
                  <v-btn :disabled="!valid" block color="success" x-large @click="validate"> Login
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios';
import store from '../store';

export default {
  name: 'signIn',
  data() {
    return {
      loginForm: {
        userName: '',
        password: ''
      },
      show: false,
      valid: true,
      dialog: false,
      showError: false
    }
  },
  methods: {
    validate() {
      axios.post(process.env.VUE_APP_REST_URL + 'user/public/login', this.loginForm).then(
          () => {
            localStorage.setItem('auth', btoa(this.loginForm.userName + ":" + this.loginForm.password));
            localStorage.setItem('id', this.loginForm.userName);
            store.commit('exeShowSignIn');
            store.commit('login');
            store.commit('identify', this.loginForm.userName);
          }, () => {
            this.showError = true;
          }
      )
    },
    cancel() {
      store.commit('exeShowSignIn');
    }
  }
}
</script>