<template>
  <v-app>
    <v-main>
      <app-header></app-header>
      <router-view></router-view>
      <signIn></signIn>
    </v-main>
  </v-app>
</template>

<script>
import headerItem from './components/header.vue';
import signIn from './components/signin.vue';

export default {
  name: 'App',
  components: {
    'app-header': headerItem,
    'signIn': signIn
  }
};
</script>
